<div class="container">

  <h2>Lista Prodotti</h2>

  <button class="btn btn-primary mb-3" (click)="goToNewProduct()">Nuovo Prodotto</button>
   <p>Numero prodotti: {{ products().length }}</p>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Descrizione</th>
        <th>Quantità</th>
        <th>Prezzo</th>
        <th>Azioni</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let product of products()">
        <td>{{ product.id }}</td>
        <td>{{ product.descrizione }}</td>
        <td>{{ product.quantita }}</td>
        <td>{{ product.prezzo }} €</td>

        <td>
          <button class="btn btn-warning btn-sm me-2">
            Modifica
          </button>

          <button class="btn btn-danger btn-sm" (click)="deleteById(product.id)">
            Elimina
          </button>
        </td>

      </tr>

    </tbody>

  </table>

  <div *ngIf="error" class="alert alert-danger mt-3">
    {{ error }}
  </div>

</div>